@{
    ViewData["Title"] = "Список фильмов";
}
<h1>Список любимых фильмов</h1>

<p>1. Турист (2010)</p>
<p>2. Терминал (2004)</p>
<p>3. Шоу Трумана (1998)</p>
<p>4. Олдбой (2003)</p>
<p>5. Король говорит! (2010)</p>

